# This file is for configuration.
# Only client for Android.
mode = "client"

# [Required] The address for communication between the client and the server.
websocket = "ws://domain-or-ip:8080/username/netname"

# [Optional] Password used to verify identity
password = "password"

# [Optional] Set NTP Server
ntp = "pool.ntp.org"

# If the STUN server is not configured, P2P will be disabled.
stun = "stun://stun.canets.org"

# [Optional] Active discovery interval
discovery = 300

# [Optional] The cost of routing through this machine
route = 5

# MTU 1280 by default.
mtu=1280
